{{.CreateRequestStruct}}


type CreateListRequest struct {
	Body []CreateRequest `json:"body" param:"body,body"`
}

type DeleteRequest struct {
	{{camel .IdName}} {{.IdType}} `json:"{{.IdName}}" param:"path,{{lowerCamel .IdName}}"`
}

type DeleteListRequest struct {
	{{plural (camel .IdName)}} []{{.IdType}} `query:"{{plural (lowerCamel .IdName)}}" param:"query,{{plural .IdName}}"`
}

type GetRequest struct {
	{{camel .IdName}} {{.IdType}} `json:"{{.IdName}}" param:"path,{{lowerCamel .IdName}}"`
}

type ListRequest struct {
	Page      int    `json:"page" param:"query,page"`
	PageSize  int    `json:"pageSize" param:"query,pageSize"`
	Orders    []string `json:"orders" param:"query,orders"`
	{{plural (camel .IdName)}} []{{.IdType}} `json:"{{plural .IdName}}" param:"query,{{plural .IdName}}"`
	ListQuery ListQuery `json:"query" param:",listQuery"`
}

// @gq {{.ModelName}}
type ListQuery struct {
}

type UpdateRequest struct {
	{{camel .IdName}} {{.IdType}} `json:"{{lowerCamel .IdName}}" param:"path,{{lowerCamel .IdName}}"`
    Body UpdateBody `json:"body" param:"body,body"`
}

type UpdateListRequest struct {
	Body []UpdateListItem `json:"body" param:"body,body"`
}

type UpdateListItem struct {
	{{camel .IdName}} {{.IdType}} `json:"{{lowerCamel .IdName}}"`
	UpdateBody
}

{{.UpdateBodyStruct}}

{{.GetResponseStruct}}

type ListResponse []GetResponse

type CreateResponse struct {
}

type CreateListResponse struct {
}

type DeleteResponse struct {
}

type DeleteListResponse struct {
}

type UpdateResponse struct {
}

type UpdateListResponse struct {
}